<div class = 'row-fluid'>
        <div class = 'sideBarContents'>
                <div class = 'quickLinksDiv'>
                        <p class = 'selectedQuickLink'>
                                <a class = 'quicklinks' href = '#'>
                                        <strong> {$MODULE_NAME} </strong>
                                </a>
                        </p>
                </div>
        </div>
</div>
