.mailbadge_settings_container	{
	margin: 10% 20% auto 35%;
}

.mailbadge_container	{
	margin-top: 50px;
}

.mailbadge_badge_color	{
	top: 20px; left: 10px; position: relative; width: 300px;
}

.mailbadge_badge_submit	{
	top: 40px; left: 20%; position: relative;
}
