.srect { width: 10px; height: 10px; margin: 3px 0; }
.srect.open { border: solid 2px green; }
.srect.closed { border: solid 2px green; background: green; }
.sring { width: 10px; height: 10px; border-radius: 20px; margin: 3px 0; }
.sring.recently { border: solid 2px red; }
.sring.today { border: solid 2px red; background: red; }
td.statuses { display: flex; justify-content: space-around; }
td.mt4live { background-color: lightgreen; }
tr.nc { background: khaki; }
tr.na { background: #ffffe6; }
tr.na1 { background: #ffffcc; }
tr.na2 { background: #ffffb3; }
tr.na3 { background: #ffff80; }
tr.na4 { background: #e6e600; }
tr.na5 { background: #b3b300; }
tr.ni { background: #ddccff; }
tr.dup { background: #ddccff; }
tr.nm { background: #ddccff; }
tr.fu { background: #9fff80; }
tr.funa { background: #dae8d5; }
tr.funa5 { background: #999966; }
tr.hot { background: #8cff66; }
tr.wd { background: #ddccff; }
tr.pof { background: #ddccff; }
tr.lb { background: #ddccff; }
tr.cf { background: #ffe6ff; }
span.statuses { display: flex; justify-content: space-around; flex-direction: column; }
table.customlead-fin-summary { width: 100%; }
table.customlead-fin-summary td { text-align: right; }
table.customlead-fin-summary tr { text-align: right; }
.toggleOB {    background: #eeeff2;
	font-weight: bold;
	padding: 2px 10px !important;
	position: relative;
	bottom: 20px;
	left: -1px;
	cursor: pointer;
	width: 10px;
	z-index: 100;
	border: 1px solid #dddddd;
	border-left: 0;
	display: inline-block;
}
span.company_label { padding-right: 10px; font-weight: bold; }
